input[type="text"] {
  padding: 10px 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #797979;
}

button {
  background-color: #333;
  border: none;
  border-radius: 1em;
  padding: 10px 20px;
  color: white;
}
